.container {
}
.accounts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}
.accounts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.accounts li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.accounts li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.accounts a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.accounts a:hover {
  color:#607D8B;
}

.accounts .text {
  position: relative;
  top: -3px;
}
.accounts .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 18px;
  box-sizing: border-box;
}

.cont {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

